:root {
  --color-base-100: oklch(3.6% 0.01 270);
  --color-base-200: oklch(15% 19% 307);
  --color-base-300: oklch(35% 44% 287);
  --color-base-300-old: oklch(17.6% 0.04 270);
  --color-base-content: oklch(93.3% 0.01 260);
  --color-primary: oklch(48% 39% 348);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(91.9% 0.13 99.9);
  --color-secondary`-content: oklch(0% 0 0);
  --color-accent: oklch(34.1% 0.13 297.4);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(20.1% 0.05 260.7);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(56.8% 0.14 255.1);
  --color-info-content: oklch(94.5% 0.01 230);
  --color-success: oklch(77.1% 0.13 149.9);
  --color-warning-content: oklch(94.5% 0.01 230);
  --color-error: oklch(64.1% 0.21 29.3);
  --color-error-content: oklch(94.5% 0.01 230);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --invert-logo: 0;
}
